In [3]:
%pip install plotly
%pip install wbdata
%pip install eep153_tools
%pip install python_gnupg
%pip install -U gspread_pandas

Requirement already satisfied: plotly in /srv/conda/lib/python3.11/site-packages (6.3.1)
Requirement already satisfied: narwhals>=1.15.1 in /srv/conda/lib/python3.11/site-packages (from plotly) (2.10.0)
Requirement already satisfied: packaging in /srv/conda/lib/python3.11/site-packages (from plotly) (24.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: wbdata in /srv/conda/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: appdirs<2,>=1.4 in /srv/conda/lib/python3.11/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3,>=2.2.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6,>=5.3.2 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.5.2)
Requirement already satisfied: dateparser<2,>=1.2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (1.2.2)
Requirement already satisfied: decorator<6,>=5.1.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3,>=2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.32.3)
Requirement already satisfied: shelved-cache<0.4,>=0.3.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<1,>=0.8.5 in /srv/conda/lib/python3.11/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: python-dateutil>=2.7.0 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.10.23)
Requirement already satisfied: tzlocal>=0.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2025.10.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Collecting eep153_tools
  Using cached eep153_tools-0.12.4-py2.py3-none-any.whl.metadata (363 bytes)
Using cached eep153_tools-0.12.4-py2.py3-none-any.whl (4.9 kB)
Installing collected packages: eep153_tools
Successfully installed eep153_tools-0.12.4
Note: you may need to restart the kernel to use updated packages.
Collecting python_gnupg
  Using cached python_gnupg-0.5.6-py2.py3-none-any.whl.metadata (2.1 kB)
Using cached python_gnupg-0.5.6-py2.py3-none-any.whl (22 kB)
Installing collected packages: python_gnupg
Successfully installed python_gnupg-0.5.6
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.11/site-packages (2.2.3)
Collecting gspread_pandas
  Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: gspread<6,>=5.0.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.12.4)
Requirement already satisfied: pandas>=0.20.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.2.3)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.1.1)
Requirement already satisfied: google-auth in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.42.0)
Requirement already satisfied: google-auth-oauthlib in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (1.2.2)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /srv/conda/lib/python3.11/site-packages (from rsa<5,>=3.1.4->google-auth->gspread_pandas) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib->gspread_pandas) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->gspread_pandas) (1.17.0)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2025.10.5)
Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl (27 kB)
Installing collected packages: gspread_pandas
  Attempting uninstall: gspread_pandas
    Found existing installation: gspread-pandas 2.2.3
    Uninstalling gspread-pandas-2.2.3:
      Successfully uninstalled gspread-pandas-2.2.3
Successfully installed gspread_pandas-3.3.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import wbdata
import numpy as np
import pandas as pd

In [5]:
SOURCE = 40 # "Population estimates and projections

indicators = wbdata.get_indicators(source=SOURCE)
indicators

id                 name
-----------------  -------------------------------------------------------------------
SH.DTH.0509        Number of deaths ages 5-9 years
SH.DTH.0514        Number of deaths ages 5-14 years
SH.DTH.1014        Number of deaths ages 10-14 years
SH.DTH.1019        Number of deaths ages 10-19 years
SH.DTH.1519        Number of deaths ages 15-19 years
SH.DTH.2024        Number of deaths ages 20-24 years
SH.DTH.IMRT        Number of infant deaths
SH.DTH.IMRT.FE     Number of infant deaths, female
SH.DTH.IMRT.MA     Number of infant deaths, male
SH.DTH.MORT        Number of under-five deaths
SH.DTH.MORT.FE     Number of under-five deaths, female
SH.DTH.MORT.MA     Number of under-five deaths, male
SH.DTH.NMRT        Number of neonatal deaths
SH.DYN.0509        Probability of dying among children ages 5-9 years (per 1,000)
SH.DYN.0514        Probability of dying at age 5-14 years (per 1,000 children age 5)
SH.DYN.1014        Probability of dying among adolescents ages 10-14 years (per 1,000)
SH.DYN.1019        Probability of dying among adolescents ages 10-19 years (per 1,000)
SH.DYN.1519        Probability of dying among adolescents ages 15-19 years (per 1,000)
SH.DYN.2024        Probability of dying among youth ages 20-24 years (per 1,000)
SH.DYN.MORT        Mortality rate, under-5 (per 1,000 live births)
SH.DYN.MORT.FE     Mortality rate, under-5, female (per 1,000 live births)
SH.DYN.MORT.MA     Mortality rate, under-5, male (per 1,000 live births)
SH.DYN.NMRT        Mortality rate, neonatal (per 1,000 live births)
SM.POP.NETM        Net migration
SP.DYN.AMRT.FE     Mortality rate, adult, female (per 1,000 female adults)
SP.DYN.AMRT.MA     Mortality rate, adult, male (per 1,000 male adults)
SP.DYN.CBRT.IN     Birth rate, crude (per 1,000 people)
SP.DYN.CDRT.IN     Death rate, crude (per 1,000 people)
SP.DYN.IMRT.FE.IN  Mortality rate, infant, female (per 1,000 live births)
SP.DYN.IMRT.IN     Mortality rate, infant (per 1,000 live births)
SP.DYN.IMRT.MA.IN  Mortality rate, infant, male (per 1,000 live births)
SP.DYN.LE00.FE.IN  Life expectancy at birth, female (years)
SP.DYN.LE00.IN     Life expectancy at birth, total (years)
SP.DYN.LE00.MA.IN  Life expectancy at birth, male (years)
SP.DYN.TFRT.IN     Fertility rate, total (births per woman)
SP.POP.0004.FE     Population ages 00-04, female
SP.POP.0004.FE.5Y  Population ages 00-04, female (% of female population)
SP.POP.0004.MA     Population ages 00-04, male
SP.POP.0004.MA.5Y  Population ages 00-04, male (% of male population)
SP.POP.0014.FE.IN  Population ages 0-14, female
SP.POP.0014.FE.ZS  Population ages 0-14, female (% of female population)
SP.POP.0014.MA.IN  Population ages 0-14, male
SP.POP.0014.MA.ZS  Population ages 0-14, male (% of male population)
SP.POP.0014.TO     Population ages 0-14, total
SP.POP.0014.TO.ZS  Population ages 0-14 (% of total population)
SP.POP.0509.FE     Population ages 05-09, female
SP.POP.0509.FE.5Y  Population ages 05-09, female (% of female population)
SP.POP.0509.MA     Population ages 05-09, male
SP.POP.0509.MA.5Y  Population ages 05-09, male (% of male population)
SP.POP.1014.FE     Population ages 10-14, female
SP.POP.1014.FE.5Y  Population ages 10-14, female (% of female population)
SP.POP.1014.MA     Population ages 10-14, male
SP.POP.1014.MA.5Y  Population ages 10-14, male (% of male population)
SP.POP.1519.FE     Population ages 15-19, female
SP.POP.1519.FE.5Y  Population ages 15-19, female (% of female population)
SP.POP.1519.MA     Population ages 15-19, male
SP.POP.1519.MA.5Y  Population ages 15-19, male (% of male population)
SP.POP.1564.FE.IN  Population ages 15-64, female
SP.POP.1564.FE.ZS  Population ages 15-64, female (% of female population)
SP.POP.1564.MA.IN  Population ages 15-64, male
SP.POP.1564.MA.ZS  Population ages 15-64, male (% of male population)
SP.POP.1564.TO     Population ages 15-64, total
SP.POP.1564.TO.ZS  Population ages 15-64 (% of total population)
SP.POP.2024.FE     Population ages 20-24, female
SP.POP.2024.FE.5Y  Population ages 20-24, female (% of female population)
SP.POP.2024.MA     Population ages 20-24, male
SP.POP.2024.MA.5Y  Population ages 20-24, male (% of male population)
SP.POP.2529.FE     Population ages 25-29, female
SP.POP.2529.FE.5Y  Population ages 25-29, female (% of female population)
SP.POP.2529.MA     Population ages 25-29, male
SP.POP.2529.MA.5Y  Population ages 25-29, male (% of male population)
SP.POP.3034.FE     Population ages 30-34, female
SP.POP.3034.FE.5Y  Population ages 30-34, female (% of female population)
SP.POP.3034.MA     Population ages 30-34, male
SP.POP.3034.MA.5Y  Population ages 30-34, male (% of male population)
SP.POP.3539.FE     Population ages 35-39, female
SP.POP.3539.FE.5Y  Population ages 35-39, female (% of female population)
SP.POP.3539.MA     Population ages 35-39, male
SP.POP.3539.MA.5Y  Population ages 35-39, male (% of male population)
SP.POP.4044.FE     Population ages 40-44, female
SP.POP.4044.FE.5Y  Population ages 40-44, female (% of female population)
SP.POP.4044.MA     Population ages 40-44, male
SP.POP.4044.MA.5Y  Population ages 40-44, male (% of male population)
SP.POP.4549.FE     Population ages 45-49, female
SP.POP.4549.FE.5Y  Population ages 45-49, female (% of female population)
SP.POP.4549.MA     Population ages 45-49, male
SP.POP.4549.MA.5Y  Population ages 45-49, male (% of male population)
SP.POP.5054.FE     Population ages 50-54, female
SP.POP.5054.FE.5Y  Population ages 50-54, female (% of female population)
SP.POP.5054.MA     Population ages 50-54, male
SP.POP.5054.MA.5Y  Population ages 50-54, male (% of male population)
SP.POP.5559.FE     Population ages 55-59, female
SP.POP.5559.FE.5Y  Population ages 55-59, female (% of female population)
SP.POP.5559.MA     Population ages 55-59, male
SP.POP.5559.MA.5Y  Population ages 55-59, male (% of male population)
SP.POP.6064.FE     Population ages 60-64, female
SP.POP.6064.FE.5Y  Population ages 60-64, female (% of female population)
SP.POP.6064.MA     Population ages 60-64, male
SP.POP.6064.MA.5Y  Population ages 60-64, male (% of male population)
SP.POP.6569.FE     Population ages 65-69, female
SP.POP.6569.FE.5Y  Population ages 65-69, female (% of female population)
SP.POP.6569.MA     Population ages 65-69, male
SP.POP.6569.MA.5Y  Population ages 65-69, male (% of male population)
SP.POP.65UP.FE.IN  Population ages 65 and above, female
SP.POP.65UP.FE.ZS  Population ages 65 and above, female (% of female population)
SP.POP.65UP.MA.IN  Population ages 65 and above, male
SP.POP.65UP.MA.ZS  Population ages 65 and above, male (% of male population)
SP.POP.65UP.TO     Population ages 65 and above, total
SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total population)
SP.POP.7074.FE     Population ages 70-74, female
SP.POP.7074.FE.5Y  Population ages 70-74, female (% of female population)
SP.POP.7074.MA     Population ages 70-74, male
SP.POP.7074.MA.5Y  Population ages 70-74, male (% of male population)
SP.POP.7579.FE     Population ages 75-79, female
SP.POP.7579.FE.5Y  Population ages 75-79, female (% of female population)
SP.POP.7579.MA     Population ages 75-79, male
SP.POP.7579.MA.5Y  Population ages 75-79, male (% of male population)
SP.POP.80UP.FE     Population ages 80 and above, female
SP.POP.80UP.FE.5Y  Population ages 80 and above, female (% of female population)
SP.POP.80UP.MA     Population ages 80 and above, male
SP.POP.80UP.MA.5Y  Population ages 80 and above, male (% of male population)
SP.POP.AG00.FE.IN  Age population, age 00, female, interpolated
SP.POP.AG00.MA.IN  Age population, age 00, male, interpolated
SP.POP.AG01.FE.IN  Age population, age 01, female, interpolated
SP.POP.AG01.MA.IN  Age population, age 01, male, interpolated
SP.POP.AG02.FE.IN  Age population, age 02, female, interpolated
SP.POP.AG02.MA.IN  Age population, age 02, male, interpolated
SP.POP.AG03.FE.IN  Age population, age 03, female, interpolated
SP.POP.AG03.MA.IN  Age population, age 03, male, interpolated
SP.POP.AG04.FE.IN  Age population, age 04, female, interpolated
SP.POP.AG04.MA.IN  Age population, age 04, male, interpolated
SP.POP.AG05.FE.IN  Age population, age 05, female, interpolated
SP.POP.AG05.MA.IN  Age population, age 05, male, interpolated
SP.POP.AG06.FE.IN  Age population, age 06, female, interpolated
SP.POP.AG06.MA.IN  Age population, age 06, male, interpolated
SP.POP.AG07.FE.IN  Age population, age 07, female, interpolated
SP.POP.AG07.MA.IN  Age population, age 07, male, interpolated
SP.POP.AG08.FE.IN  Age population, age 08, female, interpolated
SP.POP.AG08.MA.IN  Age population, age 08, male, interpolated
SP.POP.AG09.FE.IN  Age population, age 09, female, interpolated
SP.POP.AG09.MA.IN  Age population, age 09, male, interpolated
SP.POP.AG10.FE.IN  Age population, age 10, female, interpolated
SP.POP.AG10.MA.IN  Age population, age 10, male, interpolated
SP.POP.AG11.FE.IN  Age population, age 11, female, interpolated
SP.POP.AG11.MA.IN  Age population, age 11, male, interpolated
SP.POP.AG12.FE.IN  Age population, age 12, female, interpolated
SP.POP.AG12.MA.IN  Age population, age 12, male, interpolated
SP.POP.AG13.FE.IN  Age population, age 13, female, interpolated
SP.POP.AG13.MA.IN  Age population, age 13, male, interpolated
SP.POP.AG14.FE.IN  Age population, age 14, female, interpolated
SP.POP.AG14.MA.IN  Age population, age 14, male, interpolated
SP.POP.AG15.FE.IN  Age population, age 15, female, interpolated
SP.POP.AG15.MA.IN  Age population, age 15, male, interpolated
SP.POP.AG16.FE.IN  Age population, age 16, female, interpolated
SP.POP.AG16.MA.IN  Age population, age 16, male, interpolated
SP.POP.AG17.FE.IN  Age population, age 17, female, interpolated
SP.POP.AG17.MA.IN  Age population, age 17, male, interpolated
SP.POP.AG18.FE.IN  Age population, age 18, female, interpolated
SP.POP.AG18.MA.IN  Age population, age 18, male, interpolated
SP.POP.AG19.FE.IN  Age population, age 19, female, interpolated
SP.POP.AG19.MA.IN  Age population, age 19, male, interpolated
SP.POP.AG20.FE.IN  Age population, age 20, female, interpolated
SP.POP.AG20.MA.IN  Age population, age 20, male, interpolated
SP.POP.AG21.FE.IN  Age population, age 21, female, interpolated
SP.POP.AG21.MA.IN  Age population, age 21, male, interpolated
SP.POP.AG22.FE.IN  Age population, age 22, female, interpolated
SP.POP.AG22.MA.IN  Age population, age 22, male, interpolated
SP.POP.AG23.FE.IN  Age population, age 23, female, interpolated
SP.POP.AG23.MA.IN  Age population, age 23, male, interpolated
SP.POP.AG24.FE.IN  Age population, age 24, female, interpolated
SP.POP.AG24.MA.IN  Age population, age 24, male, interpolated
SP.POP.AG25.FE.IN  Age population, age 25, female, interpolated
SP.POP.AG25.MA.IN  Age population, age 25, male, interpolated
SP.POP.BRTH.MF     Sex ratio at birth (male births per female births)
SP.POP.DPND        Age dependency ratio (% of working-age population)
SP.POP.DPND.OL     Age dependency ratio, old (% of working-age population)
SP.POP.DPND.YG     Age dependency ratio, young (% of working-age population)
SP.POP.GROW        Population growth (annual %)
SP.POP.TOTL        Population, total
SP.POP.TOTL.FE.IN  Population, female
SP.POP.TOTL.FE.ZS  Population, female (% of total population)
SP.POP.TOTL.MA.IN  Population, male
SP.POP.TOTL.MA.ZS  Population, male (% of total population)
SP.RUR.TOTL        Rural population
SP.RUR.TOTL.ZG     Rural population growth (annual %)
SP.RUR.TOTL.ZS     Rural population (% of total population)
SP.URB.GROW        Urban population growth (annual %)
SP.URB.TOTL        Urban population
SP.URB.TOTL.IN.ZS  Urban population (% of total population)

In [6]:
# Give variable for clarity
variable_labels = {"SP.POP.TOTL":"India Population"}

india = wbdata.get_dataframe(variable_labels, country="IND",parse_dates=True)

# Print a few years' data
india

            India Population
date
2024-01-01      1.450936e+09
2023-01-01      1.438070e+09
2022-01-01      1.425423e+09
2021-01-01      1.414204e+09
2020-01-01      1.402618e+09
...                      ...
1964-01-01      4.792296e+08
1963-01-01      4.681386e+08
1962-01-01      4.572831e+08
1961-01-01      4.465647e+08
1960-01-01      4.359903e+08

[65 rows x 1 columns]

In [7]:
def population(year, sex, age_range, place):
    if year<1960:
        print('Enter a year after 1960')

## Population Dataframe

In [22]:
import wbdata
import pandas as pd

def population_df(years, age_range, area):
    """
    years (tuple): (start_year, end_year)
    age_range (tuple): (low_age, high_age)
    area (str): e.g. "India"
    """
    country_id = wbdata.get_countries(query=area)[0]["id"]

    low, high = age_range
    ages = range(low, high + 1)

    indicators = {}
    for age in ages:
        age2 = f"{age:02d}"
        indicators[f"SP.POP.AG{age2}.MA.IN"] = f"male_{age2}"
        indicators[f"SP.POP.AG{age2}.FE.IN"] = f"female_{age2}"

    df = wbdata.get_dataframe(indicators, country=country_id, parse_dates=True)

    start, end = years
    df = df[(df.index.year >= start) & (df.index.year <= end)]

    return df

In [24]:
df = population_df((2000, 2010), (1, 3), "India")
df

,male_01,female_01,male_02,female_02,male_03,female_03
date,,,,,,
2010-01-01,13495545.0,12298938.0,13415841.5,12215921.0,13456025.5,12244401.0
2009-01-01,13472670.5,12282255.0,13484389.5,12278052.5,13601170.5,12368019.5
2008-01-01,13548239.5,12352226.5,13634321.0,12407041.5,13782866.0,12523308.0
2007-01-01,13705075.0,12488959.0,13820419.0,12567362.0,13918835.0,12647810.0
2006-01-01,13894405.5,12653374.0,13957326.5,12693488.0,14008123.0,12742689.0
2005-01-01,14036289.5,12785347.5,14049018.5,12791509.5,14090686.0,12813192.0
2004-01-01,14133068.5,12889388.5,14134137.5,12865285.5,14053390.5,12752942.5
2003-01-01,14222743.0,12968494.5,14098552.5,12807316.5,13882771.5,12589598.0
2002-01-01,14193578.5,12917390.5,13931333.0,12647920.0,13743147.5,12466298.5
2001-01-01,14029296.5,12761370.5,13792863.5,12526431.5,13663218.5,12399016.5
2000-01-01,13893766.0,12643394.0,13714110.0,12461060.5,13583483.0,12342092.0