In [2]:
%pip install plotly
%pip install wbdata
%pip install eep153_tools
%pip install python_gnupg
%pip install -U gspread_pandas

Requirement already satisfied: plotly in /srv/conda/lib/python3.11/site-packages (6.3.1)
Requirement already satisfied: narwhals>=1.15.1 in /srv/conda/lib/python3.11/site-packages (from plotly) (2.10.0)
Requirement already satisfied: packaging in /srv/conda/lib/python3.11/site-packages (from plotly) (24.2)
Note: you may need to restart the kernel to use updated packages.
Collecting wbdata
  Using cached wbdata-1.1.0-py3-none-any.whl.metadata (2.1 kB)
Collecting appdirs<2,>=1.4 (from wbdata)
  Using cached appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: backoff<3,>=2.2.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.2.1)
Collecting cachetools<6,>=5.3.2 (from wbdata)
  Using cached cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Collecting dateparser<2,>=1.2.0 (from wbdata)
  Using cached dateparser-1.3.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: decorator<6,>=5.1.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3,>=2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.32.3)
Collecting shelved-cache<0.4,>=0.3.1 (from wbdata)
  Using cached shelved_cache-0.3.1-py3-none-any.whl.metadata (4.7 kB)
Collecting tabulate<1,>=0.8.5 (from wbdata)
  Using cached tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: python-dateutil>=2.7.0 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.10.23)
Collecting tzlocal>=0.2 (from dateparser<2,>=1.2.0->wbdata)
  Using cached tzlocal-5.3.1-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2025.10.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)
Using cached wbdata-1.1.0-py3-none-any.whl (18 kB)
Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Using cached cachetools-5.5.2-py3-none-any.whl (10 kB)
Using cached dateparser-1.3.0-py3-none-any.whl (318 kB)
Using cached shelved_cache-0.3.1-py3-none-any.whl (7.8 kB)
Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Using cached tzlocal-5.3.1-py3-none-any.whl (18 kB)
Installing collected packages: appdirs, tzlocal, tabulate, cachetools, shelved-cache, dateparser, wbdata
  Attempting uninstall: cachetools
    Found existing installation: cachetools 6.2.1
    Uninstalling cachetools-6.2.1:
      Successfully uninstalled cachetools-6.2.1
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [wbdata]2m5/7 [dateparser]
Successfully installed appdirs-1.4.4 cachetools-5.5.2 dateparser-1.3.0 shelved-cache-0.3.1 tabulate-0.9.0 tzlocal-5.3.1 wbdata-1.1.0
Note: you may need to restart the kernel to use updated packages.
Collecting eep153_tools
  Using cached eep153_tools-0.12.4-py2.py3-none-any.whl.metadata (363 bytes)
Using cached eep153_tools-0.12.4-py2.py3-none-any.whl (4.9 kB)
Installing collected packages: eep153_tools
Successfully installed eep153_tools-0.12.4
Note: you may need to restart the kernel to use updated packages.
Collecting python_gnupg
  Using cached python_gnupg-0.5.6-py2.py3-none-any.whl.metadata (2.1 kB)
Using cached python_gnupg-0.5.6-py2.py3-none-any.whl (22 kB)
Installing collected packages: python_gnupg
Successfully installed python_gnupg-0.5.6
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.11/site-packages (2.2.3)
Collecting gspread_pandas
  Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: gspread<6,>=5.0.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.12.4)
Requirement already satisfied: pandas>=0.20.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.2.3)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.1.1)
Requirement already satisfied: google-auth in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.42.0)
Requirement already satisfied: google-auth-oauthlib in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (1.2.2)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /srv/conda/lib/python3.11/site-packages (from rsa<5,>=3.1.4->google-auth->gspread_pandas) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib->gspread_pandas) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->gspread_pandas) (1.17.0)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2025.10.5)
Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl (27 kB)
Installing collected packages: gspread_pandas
  Attempting uninstall: gspread_pandas
    Found existing installation: gspread-pandas 2.2.3
    Uninstalling gspread-pandas-2.2.3:
      Successfully uninstalled gspread-pandas-2.2.3
Successfully installed gspread_pandas-3.3.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install wbdata
import wbdata
import numpy as np
import pandas as pd

Requirement already satisfied: wbdata in /srv/conda/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: appdirs<2,>=1.4 in /srv/conda/lib/python3.11/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3,>=2.2.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6,>=5.3.2 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.5.2)
Requirement already satisfied: dateparser<2,>=1.2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (1.3.0)
Requirement already satisfied: decorator<6,>=5.1.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3,>=2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.32.3)
Requirement already satisfied: shelved-cache<0.4,>=0.3.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<1,>=0.8.5 in /srv/conda/lib/python3.11/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: python-dateutil>=2.7.0 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.10.23)
Requirement already satisfied: tzlocal>=0.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2025.10.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Key '-9089887653097516029' not in persistent cache.
Key '7147400433292997400' not in persistent cache.
Key '-8100215713826938412' not in persistent cache.
Key '-1880235330556066454' not in persistent cache.
Key '7547901177561032809' not in persistent cache.
Key '1942217492671873406' not in persistent cache.

In [4]:
SOURCE = 40 # "Population estimates and projections

indicators = wbdata.get_indicators(source=SOURCE)
indicators

Key '5053959484184261145' not in persistent cache.

id                 name
-----------------  -------------------------------------------------------------------
SH.DTH.0509        Number of deaths ages 5-9 years
SH.DTH.0514        Number of deaths ages 5-14 years
SH.DTH.1014        Number of deaths ages 10-14 years
SH.DTH.1019        Number of deaths ages 10-19 years
SH.DTH.1519        Number of deaths ages 15-19 years
SH.DTH.2024        Number of deaths ages 20-24 years
SH.DTH.IMRT        Number of infant deaths
SH.DTH.IMRT.FE     Number of infant deaths, female
SH.DTH.IMRT.MA     Number of infant deaths, male
SH.DTH.MORT        Number of under-five deaths
SH.DTH.MORT.FE     Number of under-five deaths, female
SH.DTH.MORT.MA     Number of under-five deaths, male
SH.DTH.NMRT        Number of neonatal deaths
SH.DYN.0509        Probability of dying among children ages 5-9 years (per 1,000)
SH.DYN.0514        Probability of dying at age 5-14 years (per 1,000 children age 5)
SH.DYN.1014        Probability of dying among adolescents ages 10-14 years (per 1,000)
SH.DYN.1019        Probability of dying among adolescents ages 10-19 years (per 1,000)
SH.DYN.1519        Probability of dying among adolescents ages 15-19 years (per 1,000)
SH.DYN.2024        Probability of dying among youth ages 20-24 years (per 1,000)
SH.DYN.MORT        Mortality rate, under-5 (per 1,000 live births)
SH.DYN.MORT.FE     Mortality rate, under-5, female (per 1,000 live births)
SH.DYN.MORT.MA     Mortality rate, under-5, male (per 1,000 live births)
SH.DYN.NMRT        Mortality rate, neonatal (per 1,000 live births)
SM.POP.NETM        Net migration
SP.DYN.AMRT.FE     Mortality rate, adult, female (per 1,000 female adults)
SP.DYN.AMRT.MA     Mortality rate, adult, male (per 1,000 male adults)
SP.DYN.CBRT.IN     Birth rate, crude (per 1,000 people)
SP.DYN.CDRT.IN     Death rate, crude (per 1,000 people)
SP.DYN.IMRT.FE.IN  Mortality rate, infant, female (per 1,000 live births)
SP.DYN.IMRT.IN     Mortality rate, infant (per 1,000 live births)
SP.DYN.IMRT.MA.IN  Mortality rate, infant, male (per 1,000 live births)
SP.DYN.LE00.FE.IN  Life expectancy at birth, female (years)
SP.DYN.LE00.IN     Life expectancy at birth, total (years)
SP.DYN.LE00.MA.IN  Life expectancy at birth, male (years)
SP.DYN.TFRT.IN     Fertility rate, total (births per woman)
SP.POP.0004.FE     Population ages 00-04, female
SP.POP.0004.FE.5Y  Population ages 00-04, female (% of female population)
SP.POP.0004.MA     Population ages 00-04, male
SP.POP.0004.MA.5Y  Population ages 00-04, male (% of male population)
SP.POP.0014.FE.IN  Population ages 0-14, female
SP.POP.0014.FE.ZS  Population ages 0-14, female (% of female population)
SP.POP.0014.MA.IN  Population ages 0-14, male
SP.POP.0014.MA.ZS  Population ages 0-14, male (% of male population)
SP.POP.0014.TO     Population ages 0-14, total
SP.POP.0014.TO.ZS  Population ages 0-14 (% of total population)
SP.POP.0509.FE     Population ages 05-09, female
SP.POP.0509.FE.5Y  Population ages 05-09, female (% of female population)
SP.POP.0509.MA     Population ages 05-09, male
SP.POP.0509.MA.5Y  Population ages 05-09, male (% of male population)
SP.POP.1014.FE     Population ages 10-14, female
SP.POP.1014.FE.5Y  Population ages 10-14, female (% of female population)
SP.POP.1014.MA     Population ages 10-14, male
SP.POP.1014.MA.5Y  Population ages 10-14, male (% of male population)
SP.POP.1519.FE     Population ages 15-19, female
SP.POP.1519.FE.5Y  Population ages 15-19, female (% of female population)
SP.POP.1519.MA     Population ages 15-19, male
SP.POP.1519.MA.5Y  Population ages 15-19, male (% of male population)
SP.POP.1564.FE.IN  Population ages 15-64, female
SP.POP.1564.FE.ZS  Population ages 15-64, female (% of female population)
SP.POP.1564.MA.IN  Population ages 15-64, male
SP.POP.1564.MA.ZS  Population ages 15-64, male (% of male population)
SP.POP.1564.TO     Population ages 15-64, total
SP.POP.1564.TO.ZS  Population ages 15-64 (% of total population)
SP.POP.2024.FE     Population ages 20-24, female
SP.POP.2024.FE.5Y  Population ages 20-24, female (% of female population)
SP.POP.2024.MA     Population ages 20-24, male
SP.POP.2024.MA.5Y  Population ages 20-24, male (% of male population)
SP.POP.2529.FE     Population ages 25-29, female
SP.POP.2529.FE.5Y  Population ages 25-29, female (% of female population)
SP.POP.2529.MA     Population ages 25-29, male
SP.POP.2529.MA.5Y  Population ages 25-29, male (% of male population)
SP.POP.3034.FE     Population ages 30-34, female
SP.POP.3034.FE.5Y  Population ages 30-34, female (% of female population)
SP.POP.3034.MA     Population ages 30-34, male
SP.POP.3034.MA.5Y  Population ages 30-34, male (% of male population)
SP.POP.3539.FE     Population ages 35-39, female
SP.POP.3539.FE.5Y  Population ages 35-39, female (% of female population)
SP.POP.3539.MA     Population ages 35-39, male
SP.POP.3539.MA.5Y  Population ages 35-39, male (% of male population)
SP.POP.4044.FE     Population ages 40-44, female
SP.POP.4044.FE.5Y  Population ages 40-44, female (% of female population)
SP.POP.4044.MA     Population ages 40-44, male
SP.POP.4044.MA.5Y  Population ages 40-44, male (% of male population)
SP.POP.4549.FE     Population ages 45-49, female
SP.POP.4549.FE.5Y  Population ages 45-49, female (% of female population)
SP.POP.4549.MA     Population ages 45-49, male
SP.POP.4549.MA.5Y  Population ages 45-49, male (% of male population)
SP.POP.5054.FE     Population ages 50-54, female
SP.POP.5054.FE.5Y  Population ages 50-54, female (% of female population)
SP.POP.5054.MA     Population ages 50-54, male
SP.POP.5054.MA.5Y  Population ages 50-54, male (% of male population)
SP.POP.5559.FE     Population ages 55-59, female
SP.POP.5559.FE.5Y  Population ages 55-59, female (% of female population)
SP.POP.5559.MA     Population ages 55-59, male
SP.POP.5559.MA.5Y  Population ages 55-59, male (% of male population)
SP.POP.6064.FE     Population ages 60-64, female
SP.POP.6064.FE.5Y  Population ages 60-64, female (% of female population)
SP.POP.6064.MA     Population ages 60-64, male
SP.POP.6064.MA.5Y  Population ages 60-64, male (% of male population)
SP.POP.6569.FE     Population ages 65-69, female
SP.POP.6569.FE.5Y  Population ages 65-69, female (% of female population)
SP.POP.6569.MA     Population ages 65-69, male
SP.POP.6569.MA.5Y  Population ages 65-69, male (% of male population)
SP.POP.65UP.FE.IN  Population ages 65 and above, female
SP.POP.65UP.FE.ZS  Population ages 65 and above, female (% of female population)
SP.POP.65UP.MA.IN  Population ages 65 and above, male
SP.POP.65UP.MA.ZS  Population ages 65 and above, male (% of male population)
SP.POP.65UP.TO     Population ages 65 and above, total
SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total population)
SP.POP.7074.FE     Population ages 70-74, female
SP.POP.7074.FE.5Y  Population ages 70-74, female (% of female population)
SP.POP.7074.MA     Population ages 70-74, male
SP.POP.7074.MA.5Y  Population ages 70-74, male (% of male population)
SP.POP.7579.FE     Population ages 75-79, female
SP.POP.7579.FE.5Y  Population ages 75-79, female (% of female population)
SP.POP.7579.MA     Population ages 75-79, male
SP.POP.7579.MA.5Y  Population ages 75-79, male (% of male population)
SP.POP.80UP.FE     Population ages 80 and above, female
SP.POP.80UP.FE.5Y  Population ages 80 and above, female (% of female population)
SP.POP.80UP.MA     Population ages 80 and above, male
SP.POP.80UP.MA.5Y  Population ages 80 and above, male (% of male population)
SP.POP.AG00.FE.IN  Age population, age 00, female, interpolated
SP.POP.AG00.MA.IN  Age population, age 00, male, interpolated
SP.POP.AG01.FE.IN  Age population, age 01, female, interpolated
SP.POP.AG01.MA.IN  Age population, age 01, male, interpolated
SP.POP.AG02.FE.IN  Age population, age 02, female, interpolated
SP.POP.AG02.MA.IN  Age population, age 02, male, interpolated
SP.POP.AG03.FE.IN  Age population, age 03, female, interpolated
SP.POP.AG03.MA.IN  Age population, age 03, male, interpolated
SP.POP.AG04.FE.IN  Age population, age 04, female, interpolated
SP.POP.AG04.MA.IN  Age population, age 04, male, interpolated
SP.POP.AG05.FE.IN  Age population, age 05, female, interpolated
SP.POP.AG05.MA.IN  Age population, age 05, male, interpolated
SP.POP.AG06.FE.IN  Age population, age 06, female, interpolated
SP.POP.AG06.MA.IN  Age population, age 06, male, interpolated
SP.POP.AG07.FE.IN  Age population, age 07, female, interpolated
SP.POP.AG07.MA.IN  Age population, age 07, male, interpolated
SP.POP.AG08.FE.IN  Age population, age 08, female, interpolated
SP.POP.AG08.MA.IN  Age population, age 08, male, interpolated
SP.POP.AG09.FE.IN  Age population, age 09, female, interpolated
SP.POP.AG09.MA.IN  Age population, age 09, male, interpolated
SP.POP.AG10.FE.IN  Age population, age 10, female, interpolated
SP.POP.AG10.MA.IN  Age population, age 10, male, interpolated
SP.POP.AG11.FE.IN  Age population, age 11, female, interpolated
SP.POP.AG11.MA.IN  Age population, age 11, male, interpolated
SP.POP.AG12.FE.IN  Age population, age 12, female, interpolated
SP.POP.AG12.MA.IN  Age population, age 12, male, interpolated
SP.POP.AG13.FE.IN  Age population, age 13, female, interpolated
SP.POP.AG13.MA.IN  Age population, age 13, male, interpolated
SP.POP.AG14.FE.IN  Age population, age 14, female, interpolated
SP.POP.AG14.MA.IN  Age population, age 14, male, interpolated
SP.POP.AG15.FE.IN  Age population, age 15, female, interpolated
SP.POP.AG15.MA.IN  Age population, age 15, male, interpolated
SP.POP.AG16.FE.IN  Age population, age 16, female, interpolated
SP.POP.AG16.MA.IN  Age population, age 16, male, interpolated
SP.POP.AG17.FE.IN  Age population, age 17, female, interpolated
SP.POP.AG17.MA.IN  Age population, age 17, male, interpolated
SP.POP.AG18.FE.IN  Age population, age 18, female, interpolated
SP.POP.AG18.MA.IN  Age population, age 18, male, interpolated
SP.POP.AG19.FE.IN  Age population, age 19, female, interpolated
SP.POP.AG19.MA.IN  Age population, age 19, male, interpolated
SP.POP.AG20.FE.IN  Age population, age 20, female, interpolated
SP.POP.AG20.MA.IN  Age population, age 20, male, interpolated
SP.POP.AG21.FE.IN  Age population, age 21, female, interpolated
SP.POP.AG21.MA.IN  Age population, age 21, male, interpolated
SP.POP.AG22.FE.IN  Age population, age 22, female, interpolated
SP.POP.AG22.MA.IN  Age population, age 22, male, interpolated
SP.POP.AG23.FE.IN  Age population, age 23, female, interpolated
SP.POP.AG23.MA.IN  Age population, age 23, male, interpolated
SP.POP.AG24.FE.IN  Age population, age 24, female, interpolated
SP.POP.AG24.MA.IN  Age population, age 24, male, interpolated
SP.POP.AG25.FE.IN  Age population, age 25, female, interpolated
SP.POP.AG25.MA.IN  Age population, age 25, male, interpolated
SP.POP.BRTH.MF     Sex ratio at birth (male births per female births)
SP.POP.DPND        Age dependency ratio (% of working-age population)
SP.POP.DPND.OL     Age dependency ratio, old (% of working-age population)
SP.POP.DPND.YG     Age dependency ratio, young (% of working-age population)
SP.POP.GROW        Population growth (annual %)
SP.POP.TOTL        Population, total
SP.POP.TOTL.FE.IN  Population, female
SP.POP.TOTL.FE.ZS  Population, female (% of total population)
SP.POP.TOTL.MA.IN  Population, male
SP.POP.TOTL.MA.ZS  Population, male (% of total population)
SP.RUR.TOTL        Rural population
SP.RUR.TOTL.ZG     Rural population growth (annual %)
SP.RUR.TOTL.ZS     Rural population (% of total population)
SP.URB.GROW        Urban population growth (annual %)
SP.URB.TOTL        Urban population
SP.URB.TOTL.IN.ZS  Urban population (% of total population)

In [5]:
# Give variable for clarity
variable_labels = {"SP.POP.TOTL":"India Population"}

india = wbdata.get_dataframe(variable_labels, country="IND",parse_dates=True)

# Print a few years' data
india

            India Population
date
2024-01-01      1.450936e+09
2023-01-01      1.438070e+09
2022-01-01      1.425423e+09
2021-01-01      1.414204e+09
2020-01-01      1.402618e+09
...                      ...
1964-01-01      4.792296e+08
1963-01-01      4.681386e+08
1962-01-01      4.572831e+08
1961-01-01      4.465647e+08
1960-01-01      4.359903e+08

[65 rows x 1 columns]

In [6]:
def population(year, sex, age_range, place):
    if year<1960:
        print('Enter a year after 1960')

# 1. Population DataFrames [A]

In [12]:
AGE_BINS_5Y = [
    "0004","0509","1014","1519","2024","2529","3034","3539",
    "4044","4549","5054","5559","6064","6569","7074","7579","80UP"
]

AGE_LABEL = {
    "0004": "00-04", "0509": "05-09", "1014": "10-14", "1519": "15-19",
    "2024": "20-24", "2529": "25-29", "3034": "30-34", "3539": "35-39",
    "4044": "40-44", "4549": "45-49", "5054": "50-54", "5559": "55-59",
    "6064": "60-64", "6569": "65-69", "7074": "70-74", "7579": "75-79",
    "80UP": "80+",
}

In [13]:
from typing import Literal

Sex = Literal["male", "female", "total"]
Metric = Literal["count", "pct"]  # count or percent-of-sex (5Y)

def wb_indicator_5y(age_code: str, sex: Literal["male","female"], metric: Metric) -> str:
    if age_code not in AGE_LABEL:
        raise ValueError(f"Unsupported age bin: {age_code}")

    sex_code = "MA" if sex == "male" else "FE"

    if metric == "count":
        return f"SP.POP.{age_code}.{sex_code}"
    if metric == "pct":
        return f"SP.POP.{age_code}.{sex_code}.5Y"

    raise ValueError("metric must be 'count' or 'pct'")

In [16]:
import pandas as pd
import wbdata

def population_df(
    years: tuple[int, int],
    age_bins: list[str],
    area: str,
    sex: Sex = "total",
    metric: Metric = "count",
    keep_components: bool = False,
    use_pretty_labels: bool = True,
) -> pd.DataFrame:
    country_id = wbdata.get_countries(query=area)[0]["id"]

    # If total, fetch both sexes then sum (only makes sense for metric="count")
    sexes_to_fetch = ["male", "female"] if sex == "total" else [sex]

    indicators = {}
    for age_code in age_bins:
        for s in sexes_to_fetch:
            ind = wb_indicator_5y(age_code, s, metric)
            label = AGE_LABEL[age_code] if use_pretty_labels else age_code
            indicators[ind] = f"{s}_{label}"

    df = wbdata.get_dataframe(indicators, country=country_id, parse_dates=True)

    start, end = years
    df = df[(df.index.year >= start) & (df.index.year <= end)]

    if sex == "total":
        if metric != "count":
            raise ValueError("sex='total' with metric='pct' is not meaningful by simple addition. Use metric='count' or compute weighted %.")

        for age_code in age_bins:
            label = AGE_LABEL[age_code] if use_pretty_labels else age_code
            m = f"male_{label}"
            f = f"female_{label}"
            df[f"total_{label}"] = df[m] + df[f]

        if not keep_components:
            drop_cols = []
            for age_code in age_bins:
                label = AGE_LABEL[age_code] if use_pretty_labels else age_code
                drop_cols += [f"male_{label}", f"female_{label}"]
            df = df.drop(columns=drop_cols)

    return df

In [18]:
df_total = population_df((2000, 2020), AGE_BINS_5Y, "India", sex="total", metric="count")

WARNING:shelved_cache.persistent_cache:Key '-247220383772457634' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-4010250177427984678' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '8837525773764534339' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '9000857255631331609' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '839470078991436437' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-3304649891443605728' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4358539593539320706' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-6189120171770039426' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '6073101986024034433' not in persistent cache.

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [7]:
import wbdata
import pandas as pd

def population_df(years, age_range, area) -> pd.DataFrame: 
    """
    years (tuple): (start_year, end_year), use (year, year) if just want singular year
    age_range (tuple): (low_age, high_age)
    area (str): e.g. "India"

    This function takes in year, age_range, and area [country/world] and outputs a DataFrame with relevant information
    """
    country_id = wbdata.get_countries(query=area)[0]["id"]

    low, high = age_range
    ages = range(low, high + 1)

    indicators = {}
    for age in ages:
        age2 = f"{age:02d}"
        indicators[f"SP.POP.AG{age2}.MA.IN"] = f"male_{age2}"
        indicators[f"SP.POP.AG{age2}.FE.IN"] = f"female_{age2}"

    df = wbdata.get_dataframe(indicators, country=country_id, parse_dates=True)

    start, end = years
    df = df[(df.index.year >= start) & (df.index.year <= end)]

    return df

## Population Df of India from 2010, male and female age 1-3

In [8]:
df = population_df((2000, 2010), (1, 3), "India")
df

WARNING:shelved_cache.persistent_cache:Key '-6240872956245885101' not in persistent cache.

,male_01,female_01,male_02,female_02,male_03,female_03
date,,,,,,
2010-01-01,13495545.0,12298938.0,13415841.5,12215921.0,13456025.5,12244401.0
2009-01-01,13472670.5,12282255.0,13484389.5,12278052.5,13601170.5,12368019.5
2008-01-01,13548239.5,12352226.5,13634321.0,12407041.5,13782866.0,12523308.0
2007-01-01,13705075.0,12488959.0,13820419.0,12567362.0,13918835.0,12647810.0
2006-01-01,13894405.5,12653374.0,13957326.5,12693488.0,14008123.0,12742689.0
2005-01-01,14036289.5,12785347.5,14049018.5,12791509.5,14090686.0,12813192.0
2004-01-01,14133068.5,12889388.5,14134137.5,12865285.5,14053390.5,12752942.5
2003-01-01,14222743.0,12968494.5,14098552.5,12807316.5,13882771.5,12589598.0
2002-01-01,14193578.5,12917390.5,13931333.0,12647920.0,13743147.5,12466298.5
2001-01-01,14029296.5,12761370.5,13792863.5,12526431.5,13663218.5,12399016.5
2000-01-01,13893766.0,12643394.0,13714110.0,12461060.5,13583483.0,12342092.0

# 2. Population Statistics [A]

In [9]:
def population(years, sex, age_range, area):
    """
    years (tuple): (start_year, end_year) ,use (year, year) if just want singular year
    sex (str): "Male", "Female", or "All"
    age_range (tuple): (low_age, high_age)
    area (str): e.g. "India", "World"

    This function answers the question: 
    In [year] how many [people/males/females] aged [low] to [high] were living in [the world/region/country]?
    The output is a Series
    """
    df = population_df(years, age_range, area)
    df['male_total'] = df.filter(like='male_').sum(axis=1)
    df['female_total'] = df.filter(like='female_').sum(axis=1)
    df['population_total'] = df['female_total']+ df['male_total']
    
    #only the aggregated df
    agg = df[['male_total', 'female_total', 'population_total']]
    agg = agg.copy()
    agg.index = agg.index.year
    agg.index.name = "year"
    
    if sex == 'Female':
        return agg['female_total']
    elif sex == 'Male':
        return agg['male_total']
    elif sex == 'All':
        return agg['population_total']
    else:
        print("Invalid Input. Please input 'Female', 'Male', or 'All'.")

In [10]:
india_pop = population((2000, 2010), 'Female', (0, 3), 'Pakistan')
india_pop

WARNING:shelved_cache.persistent_cache:Key '-3766289898320341903' not in persistent cache.

TypeError: 'NoneType' object is not iterable

In [ ]:
pakisan = wbdata.get_dataframe(

In [15]:
wbdata.get_countries()

id    name
----  --------------------------------------------------------------------------------
ABW   Aruba
AFE   Africa Eastern and Southern
AFG   Afghanistan
AFR   Africa
AFW   Africa Western and Central
AGO   Angola
ALB   Albania
AND   Andorra
ARB   Arab World
ARE   United Arab Emirates
ARG   Argentina
ARM   Armenia
ASM   American Samoa
ATG   Antigua and Barbuda
AUS   Australia
AUT   Austria
AZE   Azerbaijan
BDI   Burundi
BEA   East Asia & Pacific (IBRD-only countries)
BEC   Europe & Central Asia (IBRD-only countries)
BEL   Belgium
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BHI   IBRD countries classified as high income
BHR   Bahrain
BHS   Bahamas, The
BIH   Bosnia and Herzegovina
BLA   Latin America & the Caribbean (IBRD-only countries)
BLR   Belarus
BLZ   Belize
BMN   Middle East, North Africa, Afghanistan & Pakistan (IBRD only)
BMU   Bermuda
BOL   Bolivia
BRA   Brazil
BRB   Barbados
BRN   Brunei Darussalam
BSS   Sub-Saharan Africa (IBRD-only countries)
BTN   Bhutan
BWA   Botswana
CAA   Sub-Saharan Africa (IFC classification)
CAF   Central African Republic
CAN   Canada
CEA   East Asia and the Pacific (IFC classification)
CEB   Central Europe and the Baltics
CEU   Europe and Central Asia (IFC classification)
CHE   Switzerland
CHI   Channel Islands
CHL   Chile
CHN   China
CIV   Cote d'Ivoire
CLA   Latin America and the Caribbean (IFC classification)
CME   Middle East and North Africa (IFC classification)
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CSA   South Asia (IFC classification)
CSS   Caribbean small states
CUB   Cuba
CUW   Curacao
CYM   Cayman Islands
CYP   Cyprus
CZE   Czechia
DEA   East Asia & Pacific (IDA-eligible countries)
DEC   Europe & Central Asia (IDA-eligible countries)
DEU   Germany
DJI   Djibouti
DLA   Latin America & the Caribbean (IDA-eligible countries)
DMA   Dominica
DMN   Middle East, North Africa, Afghanistan & Pakistan (IDA total)
DNK   Denmark
DNS   IDA countries in Sub-Saharan Africa not classified as fragile situations
DOM   Dominican Republic
DSA   South Asia (IDA-eligible countries)
DSF   IDA countries in Sub-Saharan Africa classified as fragile situations
DSS   Sub-Saharan Africa (IDA-eligible countries)
DZA   Algeria
EAP   East Asia & Pacific (excluding high income)
EAR   Early-demographic dividend
EAS   East Asia & Pacific
ECA   Europe & Central Asia (excluding high income)
ECS   Europe & Central Asia
ECU   Ecuador
EGY   Egypt, Arab Rep.
EMU   Euro area
ERI   Eritrea
ESP   Spain
EST   Estonia
ETH   Ethiopia
EUU   European Union
FCS   Fragile and conflict affected situations
FIN   Finland
FJI   Fiji
FRA   France
FRO   Faroe Islands
FSM   Micronesia, Fed. Sts.
FXS   IDA countries classified as fragile situations, excluding Sub-Saharan Africa
GAB   Gabon
GBR   United Kingdom
GEO   Georgia
GHA   Ghana
GIB   Gibraltar
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRC   Greece
GRD   Grenada
GRL   Greenland
GTM   Guatemala
GUM   Guam
GUY   Guyana
HIC   High income
HKG   Hong Kong SAR, China
HND   Honduras
HPC   Heavily indebted poor countries (HIPC)
HRV   Croatia
HTI   Haiti
HUN   Hungary
IBB   IBRD, including blend
IBD   IBRD only
IBT   IDA & IBRD total
IDA   IDA total
IDB   IDA blend
IDN   Indonesia
IDX   IDA only
IMN   Isle of Man
IND   India
INX   Not classified
IRL   Ireland
IRN   Iran, Islamic Rep.
IRQ   Iraq
ISL   Iceland
ISR   Israel
ITA   Italy
JAM   Jamaica
JOR   Jordan
JPN   Japan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
KNA   St. Kitts and Nevis
KOR   Korea, Rep.
KWT   Kuwait
LAC   Latin America & Caribbean (excluding high income)
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LCN   Latin America & Caribbean
LDC   Least developed countries: UN classification
LIC   Low income
LIE   Liechtenstein
LKA   Sri Lanka
LMC   Lower middle income
LMY   Low & middle income
LSO   Lesotho
LTE   Late-demographic dividend
LTU   Lithuania
LUX   Luxembourg
LVA   Latvia
MAC   Macao SAR, China
MAF   St. Martin (French part)
MAR   Morocco
MCO   Monaco
MDA   Moldova
MDE   Middle East (developing only)
MDG   Madagascar
MDV   Maldives
MEA   Middle East, North Africa, Afghanistan & Pakistan
MEX   Mexico
MHL   Marshall Islands
MIC   Middle income
MKD   North Macedonia
MLI   Mali
MLT   Malta
MMR   Myanmar
MNA   Middle East, North Africa, Afghanistan & Pakistan (excluding high income)
MNE   Montenegro
MNG   Mongolia
MNP   Northern Mariana Islands
MOZ   Mozambique
MRT   Mauritania
MUS   Mauritius
MWI   Malawi
MYS   Malaysia
NAC   North America
NAF   North Africa
NAM   Namibia
NCL   New Caledonia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NLD   Netherlands
NOR   Norway
NPL   Nepal
NRS   Non-resource rich Sub-Saharan Africa countries
NRU   Nauru
NXS   IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
NZL   New Zealand
OED   OECD members
OMN   Oman
OSS   Other small states
PAK   Pakistan
PAN   Panama
PER   Peru
PHL   Philippines
PLW   Palau
PNG   Papua New Guinea
POL   Poland
PRE   Pre-demographic dividend
PRI   Puerto Rico (US)
PRK   Korea, Dem. People's Rep.
PRT   Portugal
PRY   Paraguay
PSE   West Bank and Gaza
PSS   Pacific island small states
PST   Post-demographic dividend
PYF   French Polynesia
QAT   Qatar
ROU   Romania
RRS   Resource rich Sub-Saharan Africa countries
RUS   Russian Federation
RWA   Rwanda
SAS   South Asia
SAU   Saudi Arabia
SDN   Sudan
SEN   Senegal
SGP   Singapore
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SMR   San Marino
SOM   Somalia, Fed. Rep.
SRB   Serbia
SSA   Sub-Saharan Africa (excluding high income)
SSD   South Sudan
SSF   Sub-Saharan Africa
SST   Small states
STP   Sao Tome and Principe
SUR   Suriname
SVK   Slovak Republic
SVN   Slovenia
SWE   Sweden
SWZ   Eswatini
SXM   Sint Maarten (Dutch part)
SXZ   Sub-Saharan Africa excluding South Africa
SYC   Seychelles
SYR   Syrian Arab Republic
TCA   Turks and Caicos Islands
TCD   Chad
TEA   East Asia & Pacific (IDA & IBRD countries)
TEC   Europe & Central Asia (IDA & IBRD countries)
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLA   Latin America & the Caribbean (IDA & IBRD countries)
TLS   Timor-Leste
TMN   Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)
TON   Tonga
TSA   South Asia (IDA & IBRD)
TSS   Sub-Saharan Africa (IDA & IBRD countries)
TTO   Trinidad and Tobago
TUN   Tunisia
TUR   Turkiye
TUV   Tuvalu
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UMC   Upper middle income
URY   Uruguay
USA   United States
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VGB   British Virgin Islands
VIR   Virgin Islands (U.S.)
VNM   Viet Nam
VUT   Vanuatu
WLD   World
WSM   Samoa
XKX   Kosovo
XZN   Sub-Saharan Africa excluding South Africa and Nigeria
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe

In [ ]:
#Unit test

#Spot check a few data to see if loaded df is correct


def spot_check_against_wb(df_loaded, country_id, indicators_dict, years_to_check):
    # pull fresh from WB for the same indicators
    df_fresh = wbdata.get_dataframe(indicators_dict, country=country_id, parse_dates=True)
    df_fresh = df_fresh[df_fresh.index.year.isin(years_to_check)]

    loaded = df_loaded[df_loaded.index.year.isin(years_to_check)][df_fresh.columns]
    
    # align rows
    loaded, fresh = loaded.align(df_fresh, join="inner", axis=0)

    diffs = (loaded - fresh).abs()
    max_abs = diffs.max().max()
    n_diff = (diffs > 0).sum().sum()  # exact mismatch count

    print("Max absolute difference:", max_abs)
    print("Number of nonzero diffs:", int(n_diff))

    # if floats ever appear, allow tolerance:
    # print("Within tol:", np.allclose(loaded.values, fresh.values, rtol=0, atol=1e-6))

    return diffs

In [19]:
AGE_BINS_5Y = [
    "0004","0509","1014","1519","2024","2529","3034","3539",
    "4044","4549","5054","5559","6064","6569","7074","7579","80UP"
]

BIN_TO_RANGE = {
    "0004": (0,4),   "0509": (5,9),   "1014": (10,14), "1519": (15,19),
    "2024": (20,24), "2529": (25,29), "3034": (30,34), "3539": (35,39),
    "4044": (40,44), "4549": (45,49), "5054": (50,54), "5559": (55,59),
    "6064": (60,64), "6569": (65,69), "7074": (70,74), "7579": (75,79),
    "80UP": (80,200),
}

In [20]:
def bins_for_age_range(start: int, end: int) -> list[str]:
    return [
        b for b, (lo, hi) in BIN_TO_RANGE.items()
        if not (hi < start or lo > end)
    ]

In [21]:
def wb_indicator_5y(age_code: str, sex: str, metric: str) -> str:
    sex_code = "MA" if sex == "male" else "FE"
    return (
        f"SP.POP.{age_code}.{sex_code}"
        if metric == "count"
        else f"SP.POP.{age_code}.{sex_code}.5Y"
    )

In [30]:
import time
import wbdata
import pandas as pd

def population_df(years, age_start, age_end, area, sex="total", metric="count"):
    age_bins = bins_for_age_range(age_start, age_end)
    country_id = wbdata.get_countries(query=area)[0]["id"]

    sexes = ["male", "female"] if sex == "total" else [sex]
    indicators = {
        wb_indicator_5y(b, s, metric): f"{s}_{b}"
        for b in age_bins
        for s in sexes
    }

    # retry once; JSONDecodeError is often transient
    for attempt in (1, 2):
        try:
            df = wbdata.get_dataframe(indicators, country=country_id, parse_dates=True)
            break
        except Exception:
            if attempt == 2:
                raise
            time.sleep(1.0)

    # If index is not datetime, convert it (often it's year strings)
    if not isinstance(df.index, pd.DatetimeIndex):
        df.index = pd.to_datetime(df.index.astype(str), errors="coerce")

    y0, y1 = years
    df = df[(df.index.year >= y0) & (df.index.year <= y1)]

    if sex == "total":
        for b in age_bins:
            df[f"total_{b}"] = df[f"male_{b}"] + df[f"female_{b}"]
        df = df[[f"total_{b}" for b in age_bins]]

    return df

In [31]:
df_10_29 = population_df((2000, 2020), 10, 29, "India", sex="total", metric="count")
df_10_29.tail()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [14]:
import time
import pandas as pd
import wbdata

AGE_BINS_5Y = [
    "0004","0509","1014","1519","2024","2529","3034","3539",
    "4044","4549","5054","5559","6064","6569","7074","7579","80UP"
]

BIN_TO_RANGE = {
    "0004": (0,4),   "0509": (5,9),   "1014": (10,14), "1519": (15,19),
    "2024": (20,24), "2529": (25,29), "3034": (30,34), "3539": (35,39),
    "4044": (40,44), "4549": (45,49), "5054": (50,54), "5559": (55,59),
    "6064": (60,64), "6569": (65,69), "7074": (70,74), "7579": (75,79),
    "80UP": (80,200),
}

def bins_for_age_range(start_age: int, end_age: int) -> list[str]:
    ''' >>> bins_for_age_range(start_age = 0, end_age = 9)
        return: ['0004', '0509']
        '''
    return [b for b,(lo,hi) in BIN_TO_RANGE.items() if not (hi < start_age or lo > end_age)]

In [7]:
lst = bins_for_age_range(start_age=0, end_age=9)

In [8]:
lst

['0004', '0509']

In [15]:
def wb_indicator_5y(age_code: str, sex: str) -> str:
    ''' This helper constructs variable indicator.
    >>> wb_indicator_5y(age_code = '0004', sex = 'female')
    output: "SP.POP.0004.FE"
    '''
    
    sex_code = "FE" if sex == "female" else "MA"
    return f"SP.POP.{age_code}.{sex_code}"

In [24]:
import re

def population_df(years: tuple[int,int], area: str, chunk: int = 4) -> pd.DataFrame:
    country_id = wbdata.get_countries(query=f"^{re.escape(area)}$")[0]["id"]

    def fetch(sub_bins):
        '''indicators = {
              "SP.POP.1014.FE": "female_1014",
              "SP.POP.1014.MA": "male_1014"
            }
            '''
        indicators = {}
        for b in sub_bins:
            indicators[wb_indicator_5y(b, "female")] = f"female_{b}"
            indicators[wb_indicator_5y(b, "male")]   = f"male_{b}"

        last_err = None
        for k in range(5):
            try:
                return wbdata.get_dataframe(indicators, country=country_id, parse_dates=True, skip_cache=True)
            except Exception as e:
                last_err = e
                time.sleep(0.5 * (2 ** k))
        raise last_err

    parts = []
    for i in range(0, len(AGE_BINS_5Y), chunk):
        parts.append(fetch(AGE_BINS_5Y[i:i+chunk]))

    df = pd.concat(parts, axis=1)

    if not isinstance(df.index, pd.DatetimeIndex):
        df.index = pd.to_datetime(df.index.astype(str), errors="coerce")

    y0, y1 = years
    df = df[(df.index.year >= y0) & (df.index.year <= y1)]

    # consistent column order: female bins then male bins
    df = df[[f"female_{b}" for b in AGE_BINS_5Y] + [f"male_{b}" for b in AGE_BINS_5Y]]

    df.index = df.index.year

    return df

In [30]:
india_pop_df = population_df(
    years=(2018, 2020),
    area="India"
)

In [31]:
india_pop_df

,female_0004,female_0509,female_1014,female_1519,female_2024,female_2529,female_3034,female_3539,female_4044,female_4549,...,male_3539,male_4044,male_4549,male_5054,male_5559,male_6064,male_6569,male_7074,male_7579,male_80UP
date,,,,,,,,,,,,,,,,,,,,,
2020,56846872.0,58963120.0,60665244.0,62395896.0,60243689.0,57840211.0,54935788.0,49741493.0,43638105.0,38698224.0,...,53887018.0,46734880.0,40676622.0,34948447.0,29842077.0,24391302.0,18414252.0,11412174.0,6763527.0,6022397.0
2019,57282565.0,59639765.0,60964654.0,62398981.0,59826923.0,57450398.0,54201524.0,48603778.0,42701924.0,37828159.0,...,52655474.0,45655208.0,39720245.0,34265392.0,29253476.0,23856378.0,17744267.0,10729139.0,6563601.0,5848977.0
2018,57658903.0,60182984.0,61358955.0,62178615.0,59493195.0,57071892.0,53371842.0,47428167.0,41890672.0,36968547.0,...,51357720.0,44714951.0,38790269.0,33606373.0,28617405.0,23257654.0,16881262.0,10184368.0,6369273.0,5610832.0

In [32]:
pakistan_pop_df = population_df(
    years=(2018, 2020),
    area="Pakistan"
)

In [33]:
pakistan_pop_df

,female_0004,female_0509,female_1014,female_1519,female_2024,female_2529,female_3034,female_3539,female_4044,female_4549,...,male_3539,male_4044,male_4549,male_5054,male_5559,male_6064,male_6569,male_7074,male_7579,male_80UP
date,,,,,,,,,,,,,,,,,,,,,
2020,15135723.0,14747268.0,13509747.0,11953769.0,10589322.0,9178292.0,7971028.0,6781031.0,5462580.0,4592609.0,...,7054881.0,5649523.0,4693000.0,3995869.0,3405482.0,2673615.0,1849839.0,1258424.0,815695.0,549314.0
2019,15066334.0,14672234.0,13106103.0,11842307.0,10352470.0,9023735.0,7802118.0,6561813.0,5299620.0,4479068.0,...,6820015.0,5482969.0,4580573.0,3935368.0,3339937.0,2585977.0,1768110.0,1273822.0,798298.0,543553.0
2018,15033611.0,14527510.0,12767698.0,11709909.0,10184029.0,8904215.0,7656495.0,6346200.0,5163603.0,4379673.0,...,6594647.0,5341148.0,4484313.0,3878315.0,3265730.0,2490220.0,1694365.0,1279654.0,775608.0,530510.0

In [45]:
bangladesh_pop_df = population_df(
    years=(2018, 2020),
    area="Bangladesh"
)

In [35]:
bangladesh_pop_df

,female_0004,female_0509,female_1014,female_1519,female_2024,female_2529,female_3034,female_3539,female_4044,female_4549,...,male_3539,male_4044,male_4549,male_5054,male_5559,male_6064,male_6569,male_7074,male_7579,male_80UP
date,,,,,,,,,,,,,,,,,,,,,
2020,7746950.0,7613840.0,8284906.0,8748000.0,8402872.0,7450277.0,6732030.0,6308133.0,4948399.0,4316810.0,...,5835444.0,4805839.0,4052711.0,3501273.0,3030756.0,2523977.0,1916516.0,1299119.0,844722.0,631202.0
2019,7672802.0,7652839.0,8400369.0,8709213.0,8198837.0,7211497.0,6758736.0,6097405.0,5009833.0,4325774.0,...,5600201.0,4648536.0,3975248.0,3461014.0,3005075.0,2473877.0,1824725.0,1279477.0,809215.0,593632.0
2018,7614705.0,7722231.0,8490530.0,8649599.0,7930168.0,7084157.0,6717282.0,5971400.0,5084278.0,4303487.0,...,5369942.0,4533173.0,3898406.0,3427467.0,2974856.0,2406654.0,1724425.0,1255624.0,768982.0,551648.0

In [36]:
# Population Stats function


def population_stats(
    years: tuple[int, int],
    sex: str,
    age_range: tuple[int, int],
    area: str
) -> pd.DataFrame:
    
    df = population_df(years, area)  # full bins: female_0004..female_80UP + male_...

    start_age, end_age = age_range
    bins = bins_for_age_range(start_age, end_age)  # uses your BIN_TO_RANGE mapping

    if sex not in {"female", "male", "total"}:
        raise ValueError("sex must be 'female', 'male', or 'total'")

    if sex in {"female", "male"}:
        cols = [f"{sex}_{b}" for b in bins]
        out = df[cols].copy()
        out[f"{sex}_total"] = out.sum(axis=1)
        return out

    # sex == "total": derive as male+female
    female_cols = [f"female_{b}" for b in bins]
    male_cols   = [f"male_{b}" for b in bins]

    out = pd.DataFrame(index=df.index)
    out["female_total"] = df[female_cols].sum(axis=1)
    out["male_total"]   = df[male_cols].sum(axis=1)
    out["total"]        = out["female_total"] + out["male_total"]
    return out

In [38]:
india_pop_stats = population_stats((2000, 2020), "female", (10, 29), "India")
india_pop_stats.head(5)

      female_1014  female_1519  female_2024  female_2529  female_total
date
2020   60665244.0   62395896.0   60243689.0   57840211.0   241145040.0
2019   60964654.0   62398981.0   59826923.0   57450398.0   240640956.0
2018   61358955.0   62178615.0   59493195.0   57071892.0   240102657.0
2017   61861743.0   61778230.0   59134284.0   56593383.0   239367640.0
2016   62366261.0   61230450.0   58750434.0   56039606.0   238386751.0

In [40]:
pakistan_pop_stats = population_stats((2000, 2020), "male", (10, 29), "Pakistan")
pakistan_pop_stats.head(5)

       male_1014   male_1519   male_2024  male_2529  male_total
date
2020  14290977.0  12754294.0  11372728.0  9861463.0  48279462.0
2019  13899389.0  12650129.0  11129417.0  9682890.0  47361825.0
2018  13563847.0  12523026.0  10952055.0  9531230.0  46570158.0
2017  13310109.0  12357090.0  10822822.0  9384271.0  45874292.0
2016  13139151.0  12207889.0  10748111.0  9263125.0  45358276.0

In [42]:
bangladesh_pop_stats = population_stats((1960, 1970), "total", (10, 29), "Bangladesh")
bangladesh_pop_stats

      female_total  male_total       total
date
1970    12246318.0  12984789.0  25231107.0
1969    11897069.0  12623886.0  24520955.0
1968    11547686.0  12271790.0  23819476.0
1967    11200271.0  11925675.0  23125946.0
1966    10870138.0  11598649.0  22468787.0
1965    10557278.0  11289172.0  21846450.0
1964    10259574.0  10995779.0  21255353.0
1963     9983594.0  10725123.0  20708717.0
1962     9726320.0  10472903.0  20199223.0
1961     9484897.0  10235109.0  19720006.0
1960     9263016.0  10014540.0  19277556.0